* {
    transition: 0.2 linear;
}

html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: black;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid wheat 1px;
}

.header img {
    display: flex;
    border-radius: 50%;
    padding: 0 70px;
    height: 50px;
    align-items: center;

}

a {
    text-decoration: none;
    color: #EBDAA8;
    font-size: 20px;
    padding: 0 70px;
    display: inline-block;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;

}

.header a:hover {
    color: white;
    transform: scale(1.05);
}

span {
    color: #ebdaa8;
}

.content {
    margin: auto;
    max-width: 1200px;
    display: flex;
    padding: 100px 0;
    gap: 1rem;
    padding-bottom: 18rem;
}

div {
    display: flex;
    display: inline-block;
    align-items: center;
    padding-top: 5rem;
}

.content img {
    height: 500px;
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
}

.content h3 {
    color: #CDAA54;
    font-size: 35px;
    font-family: Gill Sans, sans-serif;
}

.content p {
    color: white;
    max-width: 40rem;
    font-size: 18px;
    line-height: 1.8rem;
    padding: 1px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.btn {
    background: #000000;
    border-radius: 30px;
    border: solid #EBDAA8 1px;
    padding: 4px 2rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: #CDAA54;
    display: inline-block;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.btn:hover {
    color: white;
    border: solid white 1px;
    font-size: 20px;
}

.title {
    font-family: Gill Sans, sans-serif;
    font-size: 35px;
    color: #CDAA54;
    text-align: center;
}

.box-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding: 100px 100px;
    padding-bottom: 18rem;
}


.box-content h2 {
    color: #CDAA54;
    font-size: 25px;
    font-family: Gill Sans, sans-serif;
}

.continer-logo p {

    color: white;
    max-width: 40rem;
    font-size: 18px;
    line-height: 1.8rem;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;

}

.continer-logo {
    padding: 20%;
    border: solid #EBDAA8 1px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.projects2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    padding-bottom: 10rem;
}


.img-projects img {
    display: flex;
    display: inline-block;
    height: 28rem;
    margin-left: 16px;
    border-radius: 20px;
}

.img-projects p {
    color: white;
    max-width: 36rem;
    margin-left: 2rem;
    font-size: 18px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal
}

.img-projects h2 {
    color: #CDAA54;
    font-size: 25px;
    font-family: Gill Sans, sans-serif;
    margin-left: 15rem;
}

footer {
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

footer p:hover{
    color: white;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal
}
